/*nebular.css styles */

html, body{
    height: 99%;
    overflow: auto;
}

body {
    background-color:#272822;
}

.dark-border-0{border:0!important}.dark-border{border:1px solid #3A3A3A!important}
.dark-border-top{border-top:1px solid #3A3A3A!important}.dark-border-bottom{border-bottom:1px solid #3A3A3A!important}
.dark-border-left{border-left:1px solid #3A3A3A!important}.dark-border-right{border-right:1px solid #3A3A3A!important}

.crest-logo {
    width: 130px;
}

#editor {
       width: 70%;
       height: 88%;
       top: 0;
       position: fixed;
       display: none;
    }

#dashboard {
       width: 70%;
       height: 88%;
       top: 0;
       position: fixed;
       background-color:rgb(24, 25, 21);
       overflow-y: scroll;
    }



    .data_log {
       width: 20%;
       height: 88%;
       overflow: auto;
       top: 0;
       bottom: 0;
       right:0;
       position: fixed;
       background-color: #272822;
    }

  #logs {
  }


.dash-switch-btn{border:none;display:inline-block;outline:0;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.dash-switch-btn:hover{box-shadow:none;}
.dash-switch-btn{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.dash-switch-btn:disabled,{cursor:not-allowed;opacity:0.3}
.dash-switch-btn,.dash-switch-btn:disabled:hover{box-shadow:none}

.tool_state {
    margin:10px;
    float: left;
    }

#settings {
  display: none;
}

#file_holder {
  display:none;
  color: gainsboro;
  background: #333 !important;
}

#file_holder::-webkit-file-upload-button {
  visibility: hidden;
}


#mySidebar {
    height: 100%;
}

.db-panel {
  border-radius:5px;width:350px;margin:10px;background-color:#272822;
}
